# {{ ansible_managed }}

input {
{% for input in logstash_inputs %}
  {{ input.name }} {
{% if input.options is defined %}
{% for option, value in input.options|dictsort %}
{% if value is string %}
    {{ option }} => "{{ value }}"
{% else %}
    {{ option }} => {{ value }}
{% endif %}
{% endfor %}
{% endif %}
  }
{% endfor %}
}

{% if logstash_filters is defined %}
filter {
{% for filter in logstash_filters %}
{% if filter.options is defined %}
{% for option, value in filter.options|dictsort %}
{% if value is string %}
    {{ option }} => "{{ value }}"
{% else %}
    {{ option }} => {{ value }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
}
{% endif %}

output {
{% for output in logstash_outputs %}
  {{ output.name }} {
{% if output.options is defined %}
{% for option, value in output.options|dictsort %}
{% if value is string %}
    {{ option }} => "{{ value }}"
{% else %}
    {{ option }} => {{ value }}
{% endif %}
{% endfor %}
{% endif %}
  }
{% endfor %}
}
